<div class="c-counter">
  <p>Home</p>
  <div>
    <button (click)="this.counterFacade.decrement(CounterConsumer.HOME)">-</button>
    {{
          homeCounter$ | async
    }}
    <button (click)="this.counterFacade.increment(CounterConsumer.HOME)">+</button>
  </div>
</div>
<div class="c-counter">
  <p>Product</p>
  <div>
    <button (click)="this.counterFacade.decrement(CounterConsumer.PRODUCT)">-</button>
    {{
          productCounter$ | async
    }}
    <button (click)="this.counterFacade.increment(CounterConsumer.PRODUCT)">+</button>
  </div>
</div>
